body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("/public/images/moto_backgroud.png");
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

header {
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: black;
}

a {
    text-decoration: none;
    color: #004aad;
}

.logo {
    width: 8%;
    height: 8%;
    margin-right: 10px;
}

.a_box_title_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

h1 {
    color: #004aad;
}
.div_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_logo_navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.div_navbar {
    display: none;
    background-color: white;
    position: absolute;
    align-items: center;
    right: 6%;
    top: 92%;
    width: 15vw;
    border: 1px solid;
    border-radius: 6px;
}

.btn_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004aad;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 5px;
}

.btn_navbar:hover {
    background-color: #004aad;
    color: white;
}

.div_info_profile,
.div_edit_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    background-color: black;
    border-radius: 12px;
    margin-top: 10vh;
}
.div_form_auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    background-color: black;
    border-radius: 12px;
    margin-top: 10vh;
}

.form_auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: black;
    border-radius: 12px;
}
.input_form_edit_profile,
.input_form_auth {
    padding: 0px 20px;
    width: 20vw;
    height: 5vh;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid;
}

.title_div {
    margin-top: 10px;
    font-size: 2vw;
}
.btn_form_edit_profile,
.btn_show_edit_profile,
.btn_form_auth {
    text-align: center;
    min-width: 10vw;
    height: 5vh;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid;
    background-color: #004aad;
    color: black;
    font-size: 1.5vw;
    cursor: pointer;
}

.link_form_auth {
    margin-top: 10px;
    font-size: 1.5vw;
    margin-left: 10px;
    padding-left: 250px;
    text-decoration: underline;
}

.box_info_profile label {
    color: white;
    font-size: 1.5vw;
}